{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% for error in errors %}
    <p style="color:red">
        {{error}}
    </p>
{% endfor %}
<div class="container">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
  <h2>Login</h2>
  <form method="post" class="formBox">
    <p>
    {{ form.as_p }}
    </p>
    <button type="submit">Login</button><br><br>
    <a href = "{% url 'register' %}">Do not have account? Sign up</a>
{% csrf_token %}

  </form>
    </div>
</div>
{% endblock %}